<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div>
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form>
        <h1>Start Your Journey below</h1>
        <%# <div class="social-icons">
                    <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
                </div> %>
        <span>Register with E-mail</span>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Enter E-mail">
        <input type="password" placeholder="Enter Password">
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form>
        <h1>Sign In</h1>
        <%# <div class="social-icons">
                    <a href="#" class="icons"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-github'></i></a>
                    <a href="#" class="icons"><i class='bx bxl-linkedin'></i></a>
                </div> %>
        <span>Login With Email & Password</span>
        <input type="email" placeholder="Enter E-mail">
        <input type="password" placeholder="Enter Password">
        <a href="#">Forget Password?</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome To <br>
            Anima Vestigo</h1>
          <p>Sign in With ID & Passowrd</p>
          <button class="hidden" id="login">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>It's great to have you</h1>
          <p>Join today to become a better person tomorrow</p>
          <button class="hidden" id="register">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="script.js"></script>
